* {
    font-family: "Iosevka Nerd Font", monospace;
    font-weight: 800;
    font-size: 13px;
    color: #E2F1F1;
}

window#waybar {
    background: rgba(13, 23, 28, 0.99);
    border: 1px solid #1F424C;
    border-radius: 10px;
    margin: 6px 8px;
    padding: 0;
}

#workspaces,
#mpris,
#battery,
#wireplumber,
#network,
#clock,
#tray,
#custom-launcher,
#custom-lock {
    background: transparent;
    border: none;
    margin: 0 4px;
    padding: 4px 2px;
    border-radius: 0;
}

#workspaces {
    padding: 0 4px;
}

#workspaces button {
    padding: 0px 3px;
    margin: 4px 1px;
    border-radius: 50%;
    background: transparent;
    color: #38606B;
    font-size: 5px;
}

#workspaces button.active {
    color: #4DF0D1;
    background: #18333D;
}

#workspaces button:hover {
    background: #18333D;
    color: #72F2DA;
}

#workspaces button.urgent {
    background: #2D6A78;
    color: #E2F1F1;
    border-radius: 4px;
}

#wireplumber.muted {
    opacity: 0.55;
}

#custom-lock {
    color: #E2F1F1;
}

#custom-lock:hover {
    color: #4DF0D1;
}

tooltip {
    background: #0D171C;
    border: 1px solid #234E5A;
    border-radius: 8px;
}

tooltip label {
    color: #B2E2DF;
    font-size: 11px;
}
